[Unit]
Description=Apache Tomcat 10 Web Application Server
After=network.target

[Service]
Type=forking
User=tomcat
Group=tomcat
WorkingDirectory=/usr/local/tomcat10
Environment="JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
Environment="CATALINA_HOME=/usr/local/tomcat10"
Environment="CATALINA_BASE=/usr/local/tomcat10"
Environment="CATALINA_PID=/usr/local/tomcat10/temp/tomcat.pid"
ExecStart=/usr/local/tomcat10/bin/startup.sh
ExecStop=/usr/local/tomcat10/bin/shutdown.sh
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target

